body {
  font-family:  ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', Pretendard, system-ui, -system-ui, sans-serif, 'Apple Color Emoji' !important;
  /* font-feature-settings: 'rlig' 1, 'calt' 1, 'ss01' 1, 'ss06' 1; */
  word-wrap: break-word !important;
  word-break: keep-all !important;
}

table {
  border-collapse: collapse !important;
  border-spacing: 0 !important;
  table-layout: fixed !important;
}

pre, code, tt {
  font-family: 'ui-monospace', 'SF Mono', 'SFMono-Regular', monospace !important;
}
